<!-- _includes/people.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if people.redirect -%}
  <a href="{{ people.redirect }}">
    {%- else -%}
    <a href="{{ people.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        <div class="row">
          <div class="col-sm-2 mt-3 mt-md-0">
            {%- if people.img %}
            {%- include figure.html
              path=people.img
              alt="people thumbnail" -%}
            {%- endif %}
          </div>
          <div class="col-sm-10 mt-3 mt-md-0">
            <div class="card-body">
              <h2 class="card-title">{{ people.title }}</h2>
              <p class="card-text">{{ people.description }}</p>
            </div>
            </div>
          </div>
      </div>
    </a>
</div>